<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>RC Plasto</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;display=swap" rel="stylesheet">
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.js"></script> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="manifest" href="manifest.webmanifest">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta name="theme-color" content="#1976d2">
<link rel="stylesheet" href="styles.0bb23ad58dc023d498e4.css"></head>
<body>
  <app-root></app-root>
  <noscript>Please enable JavaScript to continue using this application.</noscript>
<script src="runtime-es2015.4d8a74393bef6f63717a.js" type="module"></script><script src="runtime-es5.4d8a74393bef6f63717a.js" nomodule defer></script><script src="polyfills-es5.18bd5c47125bec3343c9.js" nomodule defer></script><script src="polyfills-es2015.f76acb092bef1e9aea8a.js" type="module"></script><script src="scripts.0db910194d329508a4ce.js" defer></script><script src="main-es2015.f60803179f2c6a0ee48d.js" type="module"></script><script src="main-es5.f60803179f2c6a0ee48d.js" nomodule defer></script></body>
</html>
